<h2>Students works!</h2>
<!-- <ul class='students'>
    <li *ngFor="let student of students">
        <span class="badge">{{student.index}}</span>{{student.name}}
    </li>
</ul> -->
<table>
    <tr>
        <th>Index</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Prosecna Ocena</th>
    </tr>
    <tr *ngFor="let student of students">
        <td>{{student.index}}</td>
        <td>{{student.name}}</td>
        <td>{{student.surname}}</td>
        <td>{{student.avrg}}</td>
    </tr>
</table>