<div *ngIf='hero !== undefined'>
    <h1>{{ hero.name | uppercase }}</h1>
    <div><span>id:</span>{{hero.id}}</div>
    <div>
        <label>Hero name: </label>
        <input id="name" placeholder="name" [(ngModel)]="hero.name">
    </div>
</div>

